* {
    margin: 0;
    padding: 0;
    font-family: arial;
    color: #3c4c5b;
}
form {
    width: 400px;
    margin-left: 100px;
}
    form * {
        display: inline-block;
    }
    h2 {
        width: 300px;
        margin-bottom: 15px;
    }
    label {
        width: 105px;
        font-size: 1.2em;
        text-align: right;
        margin-right: 10px;
    }
    input {
        width: 250px;
        color: #3c4c5b;
        font-size: 1.1em;
        outline: none;
        border: 1px solid silver;
        border-radius: 2px;
        padding: 2px 5px;
        margin-bottom: 25px;
    }
    input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0px 100px #fff inset;
    }
    form p {
        margin-bottom: 15px;
    }
        p span {
            color: white;
            background-color: #009ac7;
            font-weight: bold;
            border-radius: 2px;
            padding: 0 8px;
        }
    button {
        font-size: 1em;
        color: white;
        background-color: #009ac7;
        border: none;
        border-radius: 2px;
        outline: none;
        box-shadow: 1px 1px 2px silver;
        cursor: pointer;
        margin-left: 300px;
        padding: 4px 10px;
    }
    button:hover {
        background-color: #007394;
    }
form#register {
    margin-top: 50px;
    margin-bottom: 30px;
}
form#login {
    padding-top: 20px;
    border-top: 1px solid silver;
}
    #login button {
        width: 80px;
    }
div#regerrors {
    position: absolute;
    top: 100px;
    left: 550px;
}
div#logerrors {
    position: absolute;
    top: 510px;
    left: 550px;
}
    p.errors  {
        color: orangered;
        margin-bottom: 20px;
    }
h1 {
    margin: 30px 0 30px 50px;
}
    h1 span {
        color: #009ac7;
        font-style: italic;
        text-transform: capitalize;
        margin-left: 10px;
    }
h1, a {
    display: inline-block;
}
a {
    font-size: 1.2em;
    margin-left: 50px;
}
form#quote {
    margin-left: 50px;
    margin-bottom: 20px;
}
    #quote p {
        font-size: 1.3em;
    }
    #quote textarea {
        width: 380px;
        height: 100px;
        font-size: 1.1em;
        resize: none;
        padding: 4px;
        margin-bottom: 10px;
    }
    #quote button {
        width: 140px;
        margin-left: 250px;
    }
p#quote {
    position: absolute;
    top: 260px;
    left: 50px;
}

div.quotes {
    width: 400px;
    border-bottom: 1px solid silver;
    margin-bottom: 15px;
    margin-left: 50px;
}
    .quotes p {
        margin-bottom: 15px;
    }
    .quotes p:last-of-type {
        text-align: center;
    }
        p b {
            text-transform: capitalize;
        }
        p i {
            font-size: 0.85em;
        }
        p a#like {
            margin-left: 20px;
        }
        p a#del {
            font-size: 0.7em;
            color: orangered;
            margin-left: 15px;
        }