@{
    ViewData["Title"] = "ASP.NET Core MVC";
}
<form id="register" action="/register" method="post">
    <h2>Registration</h2>
    <label>First Name:</label>
    <input type="text" name="firstname">
    <label>Last Name:</label>
    <input type="text" name="lastname">
    <label>Email:</label>
    <input type="text" name="email" placeholder="ex:name@example.com">
    <label>Password:</label>
    <input type="password" name="password">
    <label>Confirm pw:</label>
    <input type="password" name="confirm">
    <p><span>i</span>&nbsp; Name must be at least 2 characters and letters only. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Passwords must be at least 8 characters in length.</p>
    <button type="submit">Register</button>
</form>
<form id="login" action="/login" method="post">
    <h2>Login</h2>
    <label>Email:</label>
    <input type="text" name="email">
    <label>Password:</label>
    <input type="password" name="pw">
    <button type="submit">Login</button>
</form>
<div id="regerrors">
@foreach(var error in ViewBag.RegErrors)
{
    <p class="errors">@error</p>
}
    <p class="errors">@ViewBag.RegEmailErr</p>
</div>
<div id="logerrors">
    <p class="errors">@ViewBag.LogPwErr</p>
    <p class="errors">@ViewBag.LogEmailErr</p>
</div>