<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DojoSurvey</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div>
        <p>Submitted Info</p>
        <ul id="item">
            <li>Name:</li>
            <li>Dojo Location:</li>
            <li>Favorite Language:</li>
            <li>Comment:</li>
        </ul>
        <ul id="user">
            <li>@ViewBag.Name</li>
            <li>@ViewBag.Location</li>
            <li>@ViewBag.Language</li>
            <li>@ViewBag.Comment</li>
        </ul>
        <a href="/">Go Back</a>
    </div>
</body>
</html>